/* CSS declarations go here */
/* .table-fixed thead tr {
  border-radius: 4px;    
} */
.table-fixed thead th {
  background-color: #2d2d2d; 
  color: #ffffff; 
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.table thead th {
  background-color: #2d2d2d; 
  color: #ffffff; 
}

.table-responsive {
  display: block;  
  max-height: 230px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;   
}